<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h3>The following information was submitted via the online comment form for the 2013 EMAP Standard.</h3>
    <p>
      <%= @date %><br />
      <%= @name %><br />
      <%= @phone %><br />
      <%= @organization %><br />
      <%= @email %><br />
      <%= @address %><br />
      <%= @city %><br />
      <%= @state %><br />
      <%= @zip %><br />
      <%= @org_rep %><br />
      <%= @chapter %><br />
      <%= @subchapter %><br />
      <%= @com_rec %><br />
    </p>
    <p>
      <%= @comment %><br /><br />

      <%= @support %><br /><br />

      <%= @rop_email %><br />
    </p>
    <p>
      Thank you,<br />

      The EMAP Technical Committee.
    </p>
  </body>
</html>
